[submodule "ErDetBedstForAlle"]
	path = bedstforalle.xn--sb-lka.org/
	url = git@github.com:NicolaiSoeborg/ErDetBedstForAlle.git
[submodule "Badger"]
	path = badger
	url = git@github.com:NicolaiSoeborg/badger.git
