{
	admin off
	email caddy@xn--sb-lka.org
}

(std_settings) {
	encode zstd gzip
	log {
		output file /var/log/caddy/access.log
	}
	# block accidental exposure of git
	respond /.git/* 403
}

(sec_headers) {
	import std_settings
	header {
		-Server
		Expect-CT report-uri="https://o393671.ingest.sentry.io/api/5363045/security/?sentry_key=9b4ca50af1d6463c86e551c9ca00c110",enforce,max-age=86400
		Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; base-uri 'none'; connect-src https://*:* o393671.ingest.sentry.io https://matrix.cactus.chat:8448; script-src 'self' https://cdn.bokeh.org https://latest.cactus.chat/cactus.js https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js https://maps.googleapis.com ; img-src 'self' data: i.ytimg.com; style-src 'unsafe-inline' 'self' use.fontawesome.com fonts.googleapis.com *.bootstrapcdn.com https://latest.cactus.chat/style.css cdnjs.cloudflare.com latex.now.sh; font-src 'self' use.fontawesome.com fonts.googleapis.com fonts.gstatic.com latex.now.sh; frame-src 'self' www.youtube-nocookie.com; report-uri https://o393671.ingest.sentry.io/api/5363045/security/?sentry_key=9b4ca50af1d6463c86e551c9ca00c110"
		Strict-Transport-Security "max-age=31537331; includeSubDomains; preload"
		X-XSS-Protection 0
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-Powered-By "Hamster in a wheel"
		Referrer-Policy "no-referrer"
		Permissions-Policy "interest-cohort=()"
		Tk N
	}
}

http://so3borgdb6if7zhyano3qo4k46wuqnb2la3336h2lmlxdmgsz5jg6kad.onion {
	# Not sure if this is a bug with "caddy adapt" or if caddy actually tries
	# to request ACME certs for `.onion`, but this seems to disable it
	#tls internal {
	#	on_demand
	#}
	#bind 127.0.0.1
	@onlylocal {
		remote_ip 127.0.0.1
	}
	file_server @onlylocal {
		root /var/lib/caddy/www/xn--sb-lka.org/
	}
}

badger.xn--sb-lka.org, mta-sts.xn--sb-lka.org, bedstforalle.xn--sb-lka.org, tor.xn--sb-lka.org {
	import sec_headers
	file_server /* {
		root /var/lib/caddy/www/{host}/
	}
}

#157.230.112.120:80/* {
#	respond "Hello World"
#}

www.xn--sb-lka.org, ErDetBedstForAlle.xn--sb-lka.org {
	import sec_headers
	map {host} {new_host} {
		ErDetBedstForAlle.xn--sb-lka.org "bedstforalle.xn--sb-lka.org"
		default "xn--sb-lka.org"
	}
	redir https://{new_host}{uri} permanent
}

##### SERVICES #####

(html_reply) {
	import sec_headers
	header Content-Type text/html
	templates
	respond "<!DOCTYPE html><meta charset=utf-8><title>{http.request.host}</title><body>{args[0]}</body>"
}

(json_reply) {
	templates {
		# By default placeholders are not replaced for json
		mime application/json
	}
	header Content-Type application/json
	respond "{args[0]}"
}

ip.xn--sb-lka.org, ipv4.xn--sb-lka.org, ipv6.xn--sb-lka.org {
	import std_settings
	header Access-Control-Allow-Origin "*"
	route /json {
		import json_reply {"ip":"{{.RemoteIP}}","country":"todo"}
	}
	templates {
		mime text/plain
	}
	header Content-Type text/plain
	respond "{{.RemoteIP}}"
}

info.xn--sb-lka.org {
	import html_reply "You ({{.RemoteIP}}) are connected with {http.request.proto} (ALPN: {http.request.tls.proto}) over {tls_version} (cipher: {tls_cipher})."
}

(tls_reply) {
	import std_settings
	tls {
		protocols {args[0]} {args[1]}
	}
	header Access-Control-Allow-Origin "*"
	import json_reply {"tls_version":"{tls_version}","alpn":"{http.request.tls.proto}","sni":"{http.request.tls.server_name}","cipher_suite":"{http.request.tls.cipher_suite}"}
}

tls12.xn--sb-lka.org {
	import tls_reply tls1.2 tls1.2
}
tls13.xn--sb-lka.org {
	import tls_reply tls1.3 tls1.3
}
tls.xn--sb-lka.org {
	import tls_reply tls1.2 tls1.3
}
#mtls.xn--sb-lka.org {
#	# TODO: This breaks HTTP3
#	tls {
#		client_auth {
#			mode require
#		}
#	}
#	import html_reply "You are connected with {tls_version} (proto: {http.request.tls.proto}). Cipher: {tls_cipher}.<br/>Fingerprint: {tls_client_fingerprint}.<br/>Your public key: {http.request.tls.client.public_key}.<br/>Certificate chain: {http.request.tls.client.certificate_pem}"
#}

(http_reply) {
	tls {
		alpn "{args[0]}"
	}
	map {args[0]} {proto_name} {
		http/1.1 HTTP/1.1
		h2 HTTP/2.0
		h3 HTTP/3.0
	}
	@correctALPN `{http.request.proto} == {proto_name}`
	respond @correctALPN "You are connected with {http.request.proto} ({tls_version}, {tls_cipher})."
	import html_reply "You are connected with {http.request.proto} instead of {proto_name} ({tls_version}, {tls_cipher})."
}

http.xn--sb-lka.org {
	import html_reply "You are connected with {http.request.proto} ({tls_version}, {tls_cipher})."
}
http1.xn--sb-lka.org, http11.xn--sb-lka.org {
	import http_reply http/1.1
}
http2.xn--sb-lka.org {
	import http_reply h2
}
http3.xn--sb-lka.org {
	import http_reply h3
}

##### END SERVICES #####

xn--sb-lka.org {
	import sec_headers

	# Matrix + synapse stuff:
	header /.well-known/matrix/* Access-Control-Allow-Origin "*"
	header /.well-known/matrix/client Content-Type "application/json"
	header /.well-known/matrix/server Content-Type "application/json"
	# reverse_proxy /world-flute/save localhost:8331
	header "Onion-Location" "http://so3borgdb6if7zhyano3qo4k46wuqnb2la3336h2lmlxdmgsz5jg6kad.onion{uri}"

	# WebFinger
	header /.well-known/webfinger Content-Type "application/json"
	# OASIS Open
	redir /.well-known/host-meta https://norrebro.space{uri} 301
	# Diaspora discovery
	header /.well-known/nodeinfo Content-Type "application/json; profile=\"http://nodeinfo.diaspora.software/ns/schema/2.0#\""

	# Smittestop
	templates /smittestop/
	templates /smittestop/index.html
	file_server /smittestop/* {
		root /var/lib/caddy/www/xn--sb-lka.org/
		browse #/var/lib/caddy/www/xn--sb-lka.org/smittestop/browse/browse.tpl
	}

	# CTF-Writeups:
	header /ctf-writeups/*.md {
		# Sadly this doesn't work in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=1319262
		Content-Type "text/markdown"
		Content-Disposition inline
	}
	file_server /ctf-writeups/* {
		root /var/lib/caddy/www/xn--sb-lka.org/
		#index README.md
		browse
	}

	file_server {
		root /var/lib/caddy/www/xn--sb-lka.org/
	}
}

#*.medium.xn--sb-lka.org, medium.xn--sb-lka.org {
#	#import sec_headers
#	reverse_proxy localhost:6666
#}

no-csp.xn--sb-lka.org {
	import std_settings
	header Access-Control-Allow-Origin "*"
	header Cache-Control "no-store, max-age=0"
	file_server /* {
		root /var/lib/caddy/www/no-csp.xn--sb-lka.org/
	}
}

#grafana.xn--sb-lka.org {
#	import sec_headers
#
#	basicauth /* {
#		# systemctl edit caddy
#		{$CADDY_USERNAME} {$CADDY_PASSWORD}
#	}
#
#	reverse_proxy localhost:3000 {
#		header_up -Authorization
#	}
#}
