{
	email caddy@xn--sb-lka.org
	experimental_http3
}

# xcaddy build \
#   --with github.com/hairyhenderson/caddyprom

(sec_headers) {
	tls {
		on_demand
	}
	header {
		-Server
		Expect-CT report-uri="https://o393671.ingest.sentry.io/api/5363045/security/?sentry_key=9b4ca50af1d6463c86e551c9ca00c110",enforce,max-age=86400
		# Content-Security-Policy-Report-Only "default-src 'self'; connect-src 'none'; object-src 'none'; script-src 'unsafe-inline' 'self' cdn.bokeh.org cdnjs.cloudflare.com storage.googleapis.com; img-src 'self' data:; style-src 'unsafe-inline' 'self' use.fontawesome.com fonts.googleapis.com *.bootstrapcdn.com cdnjs.cloudflare.com latex.now.sh; font-src use.fontawesome.com fonts.googleapis.com fonts.gstatic.com latex.now.sh; report-uri https://o393671.ingest.sentry.io/api/5363045/security/?sentry_key=9b4ca50af1d6463c86e551c9ca00c110"
		Content-Security-Policy "default-src 'self'; connect-src 'none'; object-src 'none'; script-src 'unsafe-inline' 'self' cdn.bokeh.org cdnjs.cloudflare.com storage.googleapis.com; img-src 'self' data:; style-src 'unsafe-inline' 'self' use.fontawesome.com fonts.googleapis.com *.bootstrapcdn.com cdnjs.cloudflare.com latex.now.sh; font-src use.fontawesome.com fonts.googleapis.com fonts.gstatic.com latex.now.sh; report-uri https://o393671.ingest.sentry.io/api/5363045/security/?sentry_key=9b4ca50af1d6463c86e551c9ca00c110"
		Strict-Transport-Security "max-age=31537331; preload"  # includeSubDomains
		X-XSS-Protection 0
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-Powered-By "Hamster in a wheel"
		Referrer-Policy "no-referrer, strict-origin-when-cross-origin"
		Tk N
	}
	encode zstd gzip
	log {
		output file /var/log/caddy/access.log
	}
}

so3borgdb6if7zhyano3qo4k46wuqnb2la3336h2lmlxdmgsz5jg6kad.onion:80 {
	# TODO: How to make sure we dont leak?
	#remote_ip 127.0.0.1
	file_server /* {
		root /var/lib/caddy/www/xn--sb-lka.org/
	}
}

#157.230.112.120:80/* {
#	header Content-Type application/json
#	respond /* {"message":"test"}
#}

www.xn--sb-lka.org {
	redir https://xn--sb-lka.org{uri} permanent
}

ip.xn--sb-lka.org, ipv4.xn--sb-lka.org, ipv6.xn--sb-lka.org {
	header Content-Type text/plain
	templates
	respond / "{{.RemoteIP}}"
}

xn--sb-lka.org {
	import sec_headers
	header /.well-known/matrix/* Access-Control-Allow-Origin "*"
	reverse_proxy /_synapse/* localhost:8008
	#@wat header_regexp allowedOrigin Origin https?://((app|develop)\.element.io)|localhost)(:[0-9]+)?)$
	reverse_proxy /_matrix/* localhost:8008 {
		#header_down Access-Control-Allow-Origin {http.regexp.allowedOrigin.0}
		#header_down Access-Control-Allow-Origin "https://develop.element.io"  # Only 1 domain allowed :/
		header_down Access-Control-Allow-Origin "*"  # Only 1 domain allowed :/
		#header_up Host {http.reverse_proxy.upstream.hostport}
	}
	file_server /smittestop/* {
		root /var/lib/caddy/www/xn--sb-lka.org/
		browse #/var/lib/caddy/www/xn--sb-lka.org/smittestop/browse/browse.tpl
	}
	templates /smittestop/
	templates /smittestop/index.html
	file_server /* {
		root /var/lib/caddy/www/xn--sb-lka.org/
	}
}

sm.xn--sb-lka.org {
	#import sec_headers
	header Access-Control-Allow-Origin "*"
	file_server /* {
		#root /var/lib/caddy/www/sm.xn--sb-lka.org/
		root /var/lib/caddy/www/xn--sb-lka.org/
	}
}

badger.xn--sb-lka.org {
	import sec_headers
	header {
		Clear-Site-Data "*"
	}
	file_server /* {
		root /var/lib/caddy/www/badger.xn--sb-lka.org/
	}
}

bedstforalle.xn--sb-lka.org, ErDetBedstForAlle.xn--sb-lka.org {
	# import sec_headers
	file_server /* {
		root /var/lib/caddy/www/bedstforalle.xn--sb-lka.org/
	}
}

mta-sts.xn--sb-lka.org {
	import sec_headers
	file_server /* {
		root /var/lib/caddy/www/mta-sts.xn--sb-lka.org/
	}
}

tor.xn--sb-lka.org {
	import sec_headers
	file_server /* {
		root /var/lib/caddy/www/tor.xn--sb-lka.org/
	}
}

#grafana.xn--sb-lka.org {
#	import sec_headers
#
#	basicauth /* {
#		# systemctl edit caddy
#		{$CADDY_USERNAME} {$CADDY_PASSWORD}
#	}
#
#	reverse_proxy localhost:3000 {
#		header_up -Authorization
#	}
#}
