div.resume{padding-top:10px}
.biography{width:35%;display:inline-block}
.image{width:25%;float:left;text-align:center}
.img-circle{border-radius:50%}
div.name{font-size:20px}
div.biography-info{font-style:italic}
div.summary{padding-top:10px;display:block}
.exp{margin-bottom:35px}
.exp-company{font-size:20px;font-weight:700;vertical-align:top;width:25%;display:inline-block}
.exp-facts{color:#aaa;font-size:12px;display:inline-block;width:35%}
.exp-summary{display:block}h3{color:#8c271e}
h3 .fa{width:1.5em;margin-top:10px}
.fa{width:1em;text-align:center}
@media (min-width:1200px){.container{max-width:970px}}
@media print{a[href]:after{content:none}}
